server/node_modules/
/server/obj
JCocoSketch/lib/EMCOPT/.DS_Store
server/.ntvs_analysis.dat
server/.ntvs_analysis.dat.tmp
server/DrawingApprenticeServer.v12.suo
server/bin/Microsoft.NodejsTools.WebRole.dll
Iconr
Cornucopia/Iconr
Cornucopia/cornucopia/Iconr
Cornucopia/cornucopia-lib/Iconr
Cornucopia/cornucopia-lib/.hg/Iconr
Cornucopia/cornucopia-lib/.hg/cache/Iconr
Cornucopia/cornucopia-lib/.hg/store/Iconr
Cornucopia/cornucopia-lib/.hg/store/data/Iconr
Cornucopia/cornucopia-lib/.hg/store/data/_cornucopia/Iconr
Cornucopia/cornucopia-lib/.hg/store/data/_demo_u_i/Iconr
Cornucopia/cornucopia-lib/.hg/store/data/_test/Iconr
Cornucopia/cornucopia-lib/.hg/store/data/_tools/Iconr
Cornucopia/cornucopia-lib/Cornucopia/Iconr
Cornucopia/cornucopia-lib/DemoUI/Iconr
Cornucopia/cornucopia-lib/eigen/Iconr
Cornucopia/cornucopia-lib/eigen/bench/Iconr
Cornucopia/cornucopia-lib/eigen/bench/btl/Iconr
Cornucopia/cornucopia-lib/eigen/bench/btl/actions/Iconr
Cornucopia/cornucopia-lib/eigen/bench/btl/cmake/Iconr
Cornucopia/cornucopia-lib/eigen/bench/btl/data/Iconr
Cornucopia/cornucopia-lib/eigen/bench/btl/generic_bench/Iconr
Cornucopia/cornucopia-lib/eigen/bench/btl/generic_bench/init/Iconr
Cornucopia/cornucopia-lib/eigen/bench/btl/generic_bench/static/Iconr
Cornucopia/cornucopia-lib/eigen/bench/btl/generic_bench/timers/Iconr
Cornucopia/cornucopia-lib/eigen/bench/btl/generic_bench/utils/Iconr
Cornucopia/cornucopia-lib/eigen/bench/btl/libs/Iconr
Cornucopia/cornucopia-lib/eigen/bench/btl/libs/BLAS/Iconr
Cornucopia/cornucopia-lib/eigen/bench/btl/libs/blitz/Iconr
Cornucopia/cornucopia-lib/eigen/bench/btl/libs/eigen2/Iconr
Cornucopia/cornucopia-lib/eigen/bench/btl/libs/eigen3/Iconr
Cornucopia/cornucopia-lib/eigen/bench/btl/libs/gmm/Iconr
Cornucopia/cornucopia-lib/eigen/bench/btl/libs/mtl4/Iconr
Cornucopia/cornucopia-lib/eigen/bench/btl/libs/STL/Iconr
Cornucopia/cornucopia-lib/eigen/bench/btl/libs/tvmet/Iconr
Cornucopia/cornucopia-lib/eigen/bench/btl/libs/ublas/Iconr
Cornucopia/cornucopia-lib/eigen/bench/spbench/Iconr
Cornucopia/cornucopia-lib/eigen/blas/Iconr
Cornucopia/cornucopia-lib/eigen/blas/testing/Iconr
Cornucopia/cornucopia-lib/eigen/cmake/Iconr
Cornucopia/cornucopia-lib/eigen/debug/Iconr
Cornucopia/cornucopia-lib/eigen/debug/gdb/Iconr
Cornucopia/cornucopia-lib/eigen/debug/msvc/Iconr
Cornucopia/cornucopia-lib/eigen/demos/Iconr
Cornucopia/cornucopia-lib/eigen/demos/mandelbrot/Iconr
Cornucopia/cornucopia-lib/eigen/demos/mix_eigen_and_c/Iconr
Cornucopia/cornucopia-lib/eigen/demos/opengl/Iconr
Cornucopia/cornucopia-lib/eigen/doc/Iconr
Cornucopia/cornucopia-lib/eigen/doc/examples/Iconr
Cornucopia/cornucopia-lib/eigen/doc/snippets/Iconr
Cornucopia/cornucopia-lib/eigen/doc/special_examples/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/Cholesky/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/CholmodSupport/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/Core/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/Core/arch/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/Core/arch/AltiVec/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/Core/arch/Default/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/Core/arch/NEON/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/Core/arch/SSE/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/Core/products/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/Core/util/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/Eigen2Support/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/Eigen2Support/Geometry/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/Eigenvalues/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/Geometry/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/Geometry/arch/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/Householder/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/IterativeLinearSolvers/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/Jacobi/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/LU/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/LU/arch/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/MetisSupport/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/misc/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/OrderingMethods/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/PardisoSupport/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/PaStiXSupport/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/plugins/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/QR/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/SparseCholesky/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/SparseCore/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/SparseLU/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/SparseQR/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/SPQRSupport/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/StlSupport/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/SuperLUSupport/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/SVD/Iconr
Cornucopia/cornucopia-lib/eigen/Eigen/src/UmfPackSupport/Iconr
Cornucopia/cornucopia-lib/eigen/failtest/Iconr
Cornucopia/cornucopia-lib/eigen/lapack/Iconr
Cornucopia/cornucopia-lib/eigen/scripts/Iconr
Cornucopia/cornucopia-lib/eigen/test/Iconr
Cornucopia/cornucopia-lib/eigen/test/eigen2/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/bench/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/doc/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/doc/examples/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/doc/snippets/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/Eigen/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/Eigen/src/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/Eigen/src/AutoDiff/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/Eigen/src/BVH/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/Eigen/src/Eigenvalues/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/Eigen/src/FFT/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/Eigen/src/IterativeSolvers/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/Eigen/src/KroneckerProduct/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/Eigen/src/LevenbergMarquardt/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/Eigen/src/MatrixFunctions/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/Eigen/src/MoreVectorization/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/Eigen/src/NonLinearOptimization/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/Eigen/src/NumericalDiff/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/Eigen/src/Polynomials/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/Eigen/src/Skyline/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/Eigen/src/SparseExtra/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/Eigen/src/Splines/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/Eigen/src/SVD/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/test/Iconr
Cornucopia/cornucopia-lib/eigen/unsupported/test/mpreal/Iconr
Cornucopia/cornucopia-lib/Test/Iconr
Cornucopia/cornucopia-lib/Tools/Iconr
Cornucopia/cornucopia/cornucopia/Iconr
Cornucopia/cornucopia/cornucopia/Debug/Iconr
Cornucopia/jni/Iconr
Cornucopia/jni/src/Iconr
Cornucopia/jni/src/jni/Iconr
DrawBackFork_Flow_Lines/Iconr
DrawBackFork_Flow_Lines/generated/Iconr
DrawBackFork_Flow_Lines/generated/compiler/Iconr
DrawBackFork_Flow_Lines/generated/preproc/Iconr
DrawBackFork_Flow_Lines/GUI_BUILDER_DATA/Iconr
DrawBackFork_Flow_Lines/template/Iconr
DrawBackFork_Flow_Lines/Unused PDE/Iconr
DrawBackFork_Flow_Lines/web-export/Iconr
EnactiveModel/Iconr
EnactiveModel/js/Iconr
EnactiveModel/js/vendor/Iconr
EnactiveModel/js/vendor/jquery.svg/Iconr
EnactiveModel/pic/Iconr
EnactiveModel/svg/Iconr
FrontEnd/Iconr
FrontEnd/images/Iconr
FrontEnd/Web UI/Iconr
FrontEnd/Web UI/css/Iconr
FrontEnd/Web UI/js/Iconr
JCocoSketch/Iconr
JCocoSketch/lib/Iconr
JCocoSketch/lib/ApacheMath/Iconr
JCocoSketch/lib/EMCOPT/Iconr
JCocoSketch/lib/encog/Iconr
JCocoSketch/lib/flexjson-2.1/Iconr
JCocoSketch/lib/G4P/Iconr
JCocoSketch/lib/G4P/library/Iconr
JCocoSketch/lib/processing-base/Iconr
JCocoSketch/lib/processing-base/core/Iconr
JCocoSketch/res/Iconr
JCocoSketch/src/Iconr
JCocoSketch/src/.metadata/Iconr
JCocoSketch/src/.metadata/.plugins/Iconr
JCocoSketch/src/.metadata/.plugins/org.eclipse.core.resources/Iconr
JCocoSketch/src/.metadata/.plugins/org.eclipse.core.resources/.root/Iconr
JCocoSketch/src/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/Iconr
JCocoSketch/src/.metadata/.plugins/org.eclipse.core.resources/.safetable/Iconr
JCocoSketch/src/.metadata/.plugins/org.eclipse.core.runtime/Iconr
JCocoSketch/src/.metadata/.plugins/org.eclipse.core.runtime/.settings/Iconr
JCocoSketch/src/.metadata/.plugins/org.eclipse.e4.workbench/Iconr
JCocoSketch/src/.metadata/.plugins/org.eclipse.jdt.core/Iconr
JCocoSketch/src/.metadata/.plugins/org.eclipse.jdt.ui/Iconr
JCocoSketch/src/.metadata/.plugins/org.eclipse.ui.workbench/Iconr
JCocoSketch/src/images/Iconr
JCocoSketch/src/jcocosketch/DrawBackFork_Flow_Lines_1.java
JCocoSketch/src/jcocosketch/Iconr
JCocoSketch/src/jcocosketch/intersectionResponse/Iconr
JCocoSketch/src/jcocosketch/nodebridge/Iconr
JCocoSketch/src/utilities/Iconr
NOC_6_04_Flowfield/Iconr
server/Iconr
server/sketchio_1.js
server/apprentice/Iconr
server/apprentice/images/Iconr
server/apprentice/jcocosketch/Iconr
server/apprentice/jcocosketch/intersectionResponse/Iconr
server/apprentice/jcocosketch/nodebridge/Iconr
server/apprentice/lib/Iconr
server/apprentice/lib/G4P/Iconr
server/apprentice/lib/G4P/library/Iconr
server/apprentice/lib/processing-base/Iconr
server/apprentice/lib/processing-base/core/Iconr
server/apprentice/META-INF/Iconr
server/apprentice/res/Iconr
server/apprentice/utilities/Iconr
server/public/Iconr
server/public/css/demo.css
server/public/css/Iconr
server/public/css backup/Iconr
server/public/fonts/glyphicons-halflings-regular.eot
server/public/fonts/glyphicons-halflings-regular.svg
server/public/fonts/glyphicons-halflings-regular.ttf
server/public/fonts/glyphicons-halflings-regular.woff
server/public/fonts/glyphicons-halflings-regular.woff2
server/public/fonts/Iconr
server/public/images/Iconr
server/public/js/Iconr
server/public/js backup/Iconr
server/public/researchanimation/buddy.svg
server/public/researchanimation/exploreDApp.svg
server/public/researchanimation/Iconr
server/public/researchanimation/index.html
server/public/researchanimation/README.md
server/public/researchanimation/researchbuddy-noarms.svg
server/public/researchanimation/researchbuddy.svg
server/public/researchanimation/researchbuddyeye.html
server/public/researchanimation/sleeping.svg
server/public/researchanimation/TheResearch.svg
server/public/researchanimation/DApp Character Design/Iconr
server/public/researchanimation/DApp Character Design/DApp Character Design (v1)/Copy of pencil.jpg
server/public/researchanimation/DApp Character Design/DApp Character Design (v1)/Iconr
server/public/researchanimation/DApp Character Design/DApp Character Design (v1)/img001 (1).jpg
server/public/researchanimation/DApp Character Design/DApp Character Design (v1)/researchbuddy.ai
server/public/researchanimation/DApp Character Design/DApp Character Design (v1)/researchbuddy.svg
server/public/researchanimation/DApp Character Design/DApp Character Design (v1)/researchbuddy_pencil.png
server/public/researchanimation/DApp Character Design/DApp Character Design (v1)/researchbuddypain.ai
server/public/researchanimation/DApp Character Design/DApp Character Design (v1)/researchbuddypain.svg
server/public/researchanimation/DApp Character Design/DApp Character Design (v1)/researchbuddypen.ai
server/public/researchanimation/DApp Character Design/DApp Character Design (v1)/researchbuddypen.png
server/public/researchanimation/DApp Character Design/DApp Character Design (v1)/researchbuddypen.svg
server/public/Tests/Iconr
server/public/Tests/css/Iconr
server/public/Tests/images/Iconr
server/public/Tests/js/Iconr
server/public/researchanimation/DApp Character Design/DApp Character Design (v1)/Iconr
server/.settings/launch.json
Parse/.ntvs_analysis.dat
Parse/bin/Microsoft.NodejsTools.WebRole.dll
Parse/obj/Debug/JsonParse.njsproj.FileListAbsolute.txt
Parse/obj/Debug/JsonParse.njsprojResolveAssemblyReference.cache
Parse/test1.txt
server/session_pic/LHy9fI4RsOWPherzFhvmtOXfv9Nt6dmN.png
